
body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    padding: 100px;
}


.borde-quitado {
    border: 3px;
    border-color: #111111;
    background-color: #111111;
}


/*COLORES DE LAS CELDAS */

#celda-morado{
    background-color:rgb(122, 57, 134);
}
#celdas-tabla-inf td{
    background-color:yellowgreen;
}


#celda-verde-1{
    background-color:rgb(118, 182, 0);
}

#celda-verde-2{
    background-color:rgb(178, 216, 107);
}

#celda-verde-3{
    background-color:rgb(102, 133, 45);
}

#celda-verde-amar{
    background-color:rgb(205, 206, 205);
}

.celda-verde-claro td{
    background-color:rgb(200, 218, 166);
}

#celda-verde-osc{
    background-color:rgb(57, 68, 59);
}

#celda-verde-osc-2{
    background-color:rgb(100, 119, 66);
}

.contenedor_1{
    justify-content: "center";
    display: "flex";
    
}

.contenedor_1 form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.contenedor_1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fondo_verde {
    background-color: #0c3e11;
    background-image: none;
  }

@font-face{
    font-family: "BreakingBad";
    src: url('../fonts/Breaking\ Bad.ttf');
}

input[type="number"]{
    width:60px;
}

#imagen-celda{
    background-image: url("../img/Tabla\ Periódica/hankschrader.png");
    background-size: 98%; /* Si quisiera cubrir pondría COVER, pero para mantener bien el ajuste lo pongo al 98% */
    background-position: center; /* Centrar imagen */
    padding: 4px;
}

.poster{
   border: 10px solid black; 
   width:700px; 
   height: 300px;   
   border-color: brown; 
   border-width: 10px; 
   border-radius: 22px;
   border-style: outset;
}

table {
    background-color: #111111;
    border:2px solid;
    border-color:#111111;
    font-family: Arial, Helvetica, sans-serif, bold;
    font-weight: bold;
    font-size: 30px;
    color:#111111;
    margin: 40px;
    
}

td {
    border:2px solid;
    border-color:#111111;
    text-align:center;
    width:50px;
    height: 50px;
    max-height: 50px;
    background-color: rgb(143, 158, 143);
   
    line-height: 0.8;
}

td img {
    width: 100%;
    height: auto; /* Para mantener la proporción de la imagen */
    max-height: 50px;
}



#texto-rojo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: red;
    display: inline;
}


#texto_negro{
    color: black;
}

#texto-chico{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 6px;
    line-height: 0.8;
}

/*Web index.html → Facilitada por el cliente. Breaking Ba*/
#titulo-tabla {
    font-family: 'BreakingBad';
    color: whitesmoke;
    font-size: 40px;
    line-height: 0.7;
    display: inline-block;
}




